$white: #fffcf9;
$black: #2c2920;
$brown: #927049;
$beige: #f8f2e9;

$display-font: "Playfair Display", serif;
$open-sans-font: "Open Sans", sans-serif;

$small-screen: 360px;
$medium-screen: 750px;
$large-screen: 1000px;
$xlarge-screen: 1200px;

$sTitle: 13px;
